.practice-side {
  @extend %box-radius;
  @include backdrop-blur-if-transparent;

  background: $c-bg-box;
  border: $border;
  text-align: center;
  align-self: start;
  padding: 1em 1.25em;

  @include if-light {
    color: $c-font;

    i.fat {
      filter: brightness(0.15);
    }
  }

  h1 {
    font-size: 3.3em;
    margin-top: 0.2em;
  }

  h2 {
    font-size: 1.3em;
    margin-bottom: 1em;
  }

  @keyframes fat-glide {
    50% {
      transform: translateY(-4px);
    }
  }

  .fat {
    display: block;
    width: 160px;
    height: 160px;
    background: url('../images/practice/robot-golem.svg');
    margin: auto;
    opacity: 0.8;
  }

  &:hover i.fat {
    animation: 1.5s fat-glide ease-in-out infinite;
  }

  form {
    padding: 16px 10px 8px;
    text-align: center;

    button {
      opacity: 0.6;
      color: $c-font;

      &:hover {
        opacity: 1;
      }
    }
  }
}
